<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="ULNv2"
    connectionString="Server=tcp:<<databasename>>.database.windows.net,1433;Initial Catalog=ULNv2;Persist Security Info=False;User ID=somename;Password=somepassword;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.Data.SqlClient" />
  <add name="LARSContext"
    connectionString="metadata=res://*/LARSContext.csdl|res://*/LARSContext.ssdl|res://*/LARSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=<<databasename>>.database.windows.net;initial catalog=CLARS_Published;user id=someuser;password=somepassword;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>
