<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessRules.POC.Settings.RuleReferenceValue" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BusinessRules.POC.Settings.RuleReferenceValue>
            <setting name="AllowedLARSNotionalNVQLevelv2" serializeAs="String">
                <value>E,1,2</value>
            </setting>
            <setting name="ApprencticeProgAllowedStartDate" serializeAs="String">
                <value>2016-08-01</value>
            </setting>
            <setting name="ApprenticeProgTypes" serializeAs="String">
                <value>2, 3, 20, 21, 2, 23, 25</value>
            </setting>
            <setting name="DD28Criteria2LearnerEmplStatusEmpStats" serializeAs="String">
                <value>10,11,12, 98</value>
            </setting>
            <setting name="DD28Criteria2EmpStatusMonitoringESMType" serializeAs="String">
                <value>BSI</value>
            </setting>
            <setting name="DD28Criteria2EmpStatusMonitoringESMCodes" serializeAs="String">
                <value>1,2</value>
            </setting>
            <setting name="DD28Criteria1EMPStats" serializeAs="String">
                <value>11,12</value>
            </setting>
            <setting name="DD28Criteria1EMPType" serializeAs="String">
                <value>BSI</value>
            </setting>
            <setting name="DD28Criteria1ESMCodes" serializeAs="String">
                <value>3,4</value>
            </setting>
            <setting name="DD28Criteria3EMPStats" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DD28Criteria3ESMTypePart1" serializeAs="String">
                <value>EII</value>
            </setting>
            <setting name="DD28Criteria3ESMCodesPart1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DD28Criteria3ESMTypePart2" serializeAs="String">
                <value>BSI</value>
            </setting>
            <setting name="DD28Criteria3ESMCodesPart2" serializeAs="String">
                <value>3,4</value>
            </setting>
            <setting name="DD29LearningDeliveryProgType" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DD29LARSCategoryRef" serializeAs="String">
                <value>2,4</value>
            </setting>
            <setting name="LearnDelFam66OlassFamType" serializeAs="String">
                <value>LDM</value>
            </setting>
            <setting name="LearnDelFam66OlassFamCode" serializeAs="String">
                <value>034</value>
            </setting>
            <setting name="LearnDelFam66RotlFamType" serializeAs="String">
                <value>LDM</value>
            </setting>
            <setting name="LearnDelFam66RotlFamCode" serializeAs="String">
                <value>328</value>
            </setting>
            <setting name="LearnDelFam66RestartFamType" serializeAs="String">
                <value>RES</value>
            </setting>
            <setting name="LearnDelFam66SteelIndRedTrainingFamType" serializeAs="String">
                <value>LDM</value>
            </setting>
            <setting name="LearnDelFam66SteelIndRedTrainingFamCode" serializeAs="String">
                <value>347</value>
            </setting>
            <setting name="LearnDelFam66RestartFamCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DD21AllowedFamType" serializeAs="String">
                <value>LDM</value>
            </setting>
            <setting name="DD21FamCodeShouldNotBe" serializeAs="String">
                <value>318</value>
            </setting>
            <setting name="DD21AllowedEmpStats" serializeAs="String">
                <value>11,12</value>
            </setting>
            <setting name="DD21EmpTypePart1" serializeAs="String">
                <value>BSI</value>
            </setting>
            <setting name="DD21EmpCodePart1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DD21EmpTypePart2" serializeAs="String">
                <value>BSI</value>
            </setting>
            <setting name="DD21EmpCodePart2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AcademicYearStart" serializeAs="String">
                <value>2017-08-01</value>
            </setting>
        </BusinessRules.POC.Settings.RuleReferenceValue>
    </applicationSettings>
</configuration>